
# **American Multinational Retail Corportaion (W***mart)**
<hr>

##### -- **The retial corportaion** in the context of case study will be called as **store**. 

-- This store has more than 100 million customers worldwide.

-- Questions on confidence interval and central limit theorem (CLT)

#####

### Dataset and features

User_ID:	User ID

Product_ID:	Product ID

Gender:	Sex of User

Age:	Age in bins

Occupation:	Occupation(Masked)

City_Category:	Category of the City (A,B,C)

StayInCurrentCityYears:	Number of years stay in current city

Marital_Status:	Marital Status

ProductCategory:	Product Category (Masked)

Purchase:	Purchase Amount

#####

# **Simplifying the problem statement**

The store management team wants to understand the purchase behaviour separately for males and females. 

Do they have different spending habits? Do women tend of spend more on Black Friday than?

The management would like to leverage this transactional data of the customers (collected on Black Friday) to learn some business insights as well as actionable items!

$\color{blue}{\text{The datatypes look proper. All the expected numerical values are int and strings are object}}$

$$
\text{this is awesome} \\
And
$$

$ \color{blue} {1. c = \sqrt{a^2 + b^2} sdf \\ 2. fasdf\\ asdfds}$

#####

#####

## Imports

In [4]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

#####

# Data loading and basic exploratory analysis

In [9]:
df = pd.read_csv('https://d2beiqkhq929f0.cloudfront.net/public_assets/assets/000/001/293/original/walmart_data.csv?1641285094')

In [11]:
df

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category,Purchase
0,1000001,P00069042,F,0-17,10,A,2,0,3,8370
1,1000001,P00248942,F,0-17,10,A,2,0,1,15200
2,1000001,P00087842,F,0-17,10,A,2,0,12,1422
3,1000001,P00085442,F,0-17,10,A,2,0,12,1057
4,1000002,P00285442,M,55+,16,C,4+,0,8,7969
...,...,...,...,...,...,...,...,...,...,...
550063,1006033,P00372445,M,51-55,13,B,1,1,20,368
550064,1006035,P00375436,F,26-35,1,C,3,0,20,371
550065,1006036,P00375436,F,26-35,15,B,4+,1,20,137
550066,1006038,P00375436,F,55+,1,C,2,0,20,365
550067,1006039,P00371644,F,46-50,0,B,4+,1,20,490

In [12]:
df.shape

(550068, 10)

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 550068 entries, 0 to 550067
Data columns (total 10 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   User_ID                     550068 non-null  int64
 1   Product_ID                  550068 non-null  object
 2   Gender                      550068 non-null  object
 3   Age                         550068 non-null  object
 4   Occupation                  550068 non-null  int64
 5   City_Category               550068 non-null  object
 6   Stay_In_Current_City_Years  550068 non-null  object
 7   Marital_Status              550068 non-null  int64
 8   Product_Category            550068 non-null  int64
 9   Purchase                    550068 non-null  int64
dtypes: int64(5), object(5)
memory usage: 42.0+ MB

In [8]:
df.isna().sum()

User_ID                       0
Product_ID                    0
Gender                        0
Age                           0
Occupation                    0
City_Category                 0
Stay_In_Current_City_Years    0
Marital_Status                0
Product_Category              0
Purchase                      0
dtype: int64

#####

- $\color{blue}{\text{There are about 5.5 lakh (500k) records and 10 columns in the dataset.}}$

- $\color{blue}{\text{The datatypes look proper. All the expected numerical values are int and strings are object}}$

- $\color{blue}{\text{The datatypes look proper. All the expected numerical values are int and strings are object}}$